@tailwind base;
@tailwind components;
@tailwind utilities;

/* animated paragraph */
.text-p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
.word {
  margin-right: 12px;
  margin-top: 12px;
}

/* float animation */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

/* cursor */
@layer components {
  .cursor-wrapper {
    z-index: 10000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: fixed;
  }

  .secondary-cursor {
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: fixed;
    background: white;
    mix-blend-mode: difference;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  }

  .regular {
    width: 40px;
    height: 40px;
  }

  .small {
    width: 60px;
    height: 60px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes bgUp {
    from {
      background-color: transparent;
    }
    to {
      background-color: black;
    }
  }

  @keyframes bgDown {
    from {
      background-color: black;
    }
    to {
      background-color: transparent;
    }
  }

  @keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }

  @keyframes scaleDown {
    from {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes translateLeftDot {
    from {
      transform: translate(20px, -50%);
    }
    to {
      transform: translate(0px, -50%);
    }
  }

  @keyframes translateRightDot {
    from {
      transform: translate(-20px, -50%);
    }
    to {
      transform: translate(0px, -50%);
    }
  }
}
