@tailwind base;
@tailwind components;
@tailwind utilities;

.text-p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
.word {
  margin-right: 12px;
  margin-top: 12px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
